* {
    font-size: 24px !important;
    font-family: 'Lato', sans-serif;
    font-family: 'Space Mono', monospace;
    font-weight: 700;

}

body {
    background-color: hsl(185, 41%, 84%);
}

.custom-main {
    background-color: hsl(0, 0%, 100%);
    width: max-content;
    
    margin: 300px auto 0px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px black;
    position: relative;
    padding: 35px;
    

}

.custom-h1 {
    color: hsl(183, 100%, 15%);
    position: absolute;
    top: 150px;
    left: 50%;
    letter-spacing: 5px;
    font-size: 25px;


}

.custom-section {
    width: 100%;
    height: 100%;





}

.row {
    --bs-gutter-x: 0rem;

}

.left-column {
    background-color: hsl(0, 0%, 100%);




}

.right-column {
    background-color: hsl(183, 100%, 15%)
}


.custom-input-2 {
    height: 36px;
}

.custom-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
}

.bill form{
    position: relative;
}
.bill form img{
    position: absolute;
    left: 20px; 
    top: 70%;
    transform: translateY(-50%);
}

.number-of-people form{
    position: relative;
}
.number-of-people form img{
    position: absolute;
    left: 20px; 
    top: 70%;
    transform: translateY(-50%);
}
.item {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    max-width: 130px;
}

.bill,
.select-tip,
.number-of-people {
    margin-bottom: 55px;
    width: 90%
}

label.btn-outline-primary {
    text-align: center;
    
}
.number-of-people label{
    color:hsl(183, 100%, 15%)
}
.right-column {
    padding: 30px;
    border-radius: 30px;
    position: relative;
}

.Tip-Result {
    font-size: 45px !important;
    text-align: end;
}


.Total-Result {
    font-size: 45px !important;
    text-align: end;
}

.person-span {
    font-size: 17px !important;
}


.right-column-first-div button {
    position: absolute;
    bottom: 30px;
    width: 87%;

}

.bill,
.form-control::placeholder {
    color: hsl(183, 100%, 15%);
}

.select-tip div div {
    background-color: hsl(183, 100%, 15%);

}

.select-tip div div:hover {
    background-color: hsl(172, 67%, 45%);
}



.select-tip div label {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
}
.select-tip div div:focus{
    border-color: transparent !important;
}
.select-tip div label:hover {
    background-color: transparent;
    color: hsl(183, 100%, 15%);
}

.select-tip div input:checked {
    background-color: hsl(172, 67%, 45%);
    
}

.btn-outline-primary {
    background-color: hsl(172, 67%, 45%);
}

input[type="radio"]:checked+label {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);

}
.bill input{
    color: hsl(183, 100%, 15%);
}

.number-of-people input{
    color: hsl(183, 100%, 15%);
}

#reset-Button{
    background-color: hsl(172, 67%, 45%);
    border-color: transparent;
    color:  hsl(183, 100%, 15%);
}
.bill input::placeholder{
    text-align: end;
   
    
}
.bill input{
    text-align: end;
}
.number-of-people input{
    text-align: end;
}
.number-of-people input::placeholder{
    text-align: end;
}
#reset-Button:hover{
    background-color: hsl(172, 100%, 75%);
}
.select-tip h1{
    color: hsl(183, 100%, 15%);
}
#reset-Button:focus{
    box-shadow: none;
}

.person-span{
    color:hsl(184, 14%, 56%);
}

.Total,.Tip-Amount{color: hsl(0, 0%, 100%);}

#Total-Result,#Tip-Result{
    color: hsl(172, 67%, 45%);
}

@media screen and (max-width: 995px) {
    .custom-main{
        width: 100%;
    }
    .Total-Result,.Tip-Result{
        font-size: 30px !important;
    }
    .Total-Result{
        margin-bottom: 150px;
    }
    #custom-percentage{
        font-size:20px !important;
        max-width: fit-content;
    }
    .custom-h1{
       left: 45%;
    }
}


@media screen and (max-width: 480px) {
    .custom-main{
        width: 100%;
    }
    .Total-Result,.Tip-Result{
        font-size: 30px !important;
    }
    .Total-Result{
        margin-bottom: 150px;
    }
    #custom-percentage{
        font-size:11px !important;
        max-width: fit-content;
    }
    .fixed-percentage label{
        font-size: 18px !important;
    }
}